* {
  margin: 0;
  padding: 0;
  background-color: #F5F4F0;
  font-family: "Open Sans", sans-serif;
}

.title {
  padding: 88px 80px 40px ;
}

.title p {
  padding-bottom: 8px;
  color: #E1624F;
  font-size: 16px;
  font-weight: bold;
}

.title h1 {
  color: #1B1B1B;
 font-weight: bold;
 font-size: 36px;
}

.image-description {
  padding: 0 80px 40px;
 }

.image-description img {
  width: 100%;
  height: 660px;
  border-radius: 28px;

  object-fit: cover;
  
}
.image-description p {
  font-size: 16px;
  color: #333333;
  font-style: italic;
  text-align: center;
  padding-top: 24px;
}

.divider1 {
  height: 1px;
  background-color: #d9d9d9;
  margin: 0 80px 64px;
}
.title-list {
  padding: 0 80px 64px;
}
.title-list h2 {
  font-size: 16px;
  font-style: bold;
  color: #E1624F;
  padding-bottom: 2px;
}
.title-list h1 {
  color: #1B1B1B;
  font-weight: bold;
  font-size: 36px;
  padding-bottom: 8px;
}
.title-list p {
  font-size: 16px;
  color: #333333;
  text-align: left;
}

.list-one {
padding: 0 80px 48px;
}

.list-one img {
  width: 100%;
  height: 350px;
  border-radius: 28px;
  object-fit: cover;
}
.list-one h1 {
  padding-left: 4px;
  padding-top: 20px;
  padding-bottom: 4px;
  color: #1B1B1B;
  font-size: 28px;
  font-weight: bold;
}
.list-one p {
  font-size: 16px;
  color: #333333;
  padding-bottom: 16px;
}
.list-one h3 {  font-size: 16px;
  font-weight: bold;
  color: #333333;
  padding-left: ;
}
.list-one ul {
  color: #0C51A7;
  font-size: 16px;
  font-weight: bold;
  padding-left: 22px;
}

.list-one ul li::marker {
  color: #333333;
}

.list-one {
padding: 0 80px 48px;
}

.list-one img {
  width: 100%;
  height: 350px;
  border-radius: 28px;
  object-fit: cover;
}
.list-one h1 {
  padding-left: 4px;
  padding-top: 20px;
  padding-bottom: 4px;
  color: #1B1B1B;
  font-size: 28px;
  font-weight: bold;
}
.list-one p {
  font-size: 16px;
  color: #333333;
  padding-bottom: 16px;
}
.list-one h3 {  font-size: 16px;
  font-weight: bold;
  color: #333333;
  padding-left: ;
}
.list-one ul {
  color: #0C51A7;
  font-size: 16px;
  font-weight: bold;
  padding-left: 22px;
}

.list-one ul li::marker {
  color: #333333;
}

.list-two {
  padding: 0 80px 48px;
}
  
.list-two img {
  width: 100%;
  height: 350px;
  border-radius: 28px;
  object-fit: cover;
}
.list-two h1 {
  padding-left: 4px;
  padding-top: 20px;
  padding-bottom: 4px;
  color: #1B1B1B;
  font-size: 28px;
  font-weight: bold;
}
.list-two p {
  font-size: 16px;
  color: #333333;
  padding-bottom: 16px;
}
.list-two h3 {  font-size: 16px;
  font-weight: bold;
  color: #333333;
  padding-left: ;
}
.list-two ul {
  color: #0C51A7;
  font-size: 16px;
  font-weight: bold;
  padding-left: 22px;
}

.list-two ul li::marker {
  color: #333333;
}

.list-three {
  padding: 0 80px 40px;
}
  
.list-three img {
  width: 100%;
  height: 350px;
  border-radius: 28px;
  object-fit: cover;
}
.list-three h1 {
  padding-left: 4px;
  padding-top: 20px;
  padding-bottom: 4px;
  color: #1B1B1B;
  font-size: 28px;
  font-weight: bold;
}
.list-three p {
  font-size: 16px;
  color: #333333;
  padding-bottom: 16px;
}
.list-three h3 {  font-size: 16px;
  font-weight: bold;
  color: #333333;
  padding-left: ;
}
.list-three ul {
  font-size: 16px;
  font-weight: bold;
  padding-left: 22px;
}

.list-three ul li::marker {
  color: #333333;
}
.ul-casais {
  color: #591B98 ;
}
.ul-familias {
  color: #E5245E;
}
.ul-orçamento {
  color: #E95E10;
}
.divider2 {
  height: 1px;
  background-color: #d9d9d9;
  margin: 0 80px 40px;
}
.final-description {
  padding: 0 80px 65px;
  font-size: 16px;
  text-align: center;
}